*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.width-240px {
    width: 270px;
}

.width-650px{ 
    width: 40%;
}
.width-input {
    width: calc(100% - (260px + 40%));
}
.width-95px {
    width: 98%;
}
.width-100px {
    width: 28%;
}
.width-95{
    width: 95%;
}
.Input-Title {
    font-size: 20px;
}
.Text-Editor {
    height: 500px;
    overflow-y: auto;

}
.content>ul{
    list-style: inside;
}
.content>ol{
    list-style:decimal;
}
.alert-box {
    width: 400px;
    height: 180px;
    background: white;
    opacity: 1;
    margin: auto;
}
.bg-transparent-css {
    background-color:rgba(57, 57, 57, 0.09);
}
