*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.width-240px {
    width: 270px;
}

.width-650px{ 
    width: 40%;
}
.width-input {
    width: calc(100% - (260px + 40%));
}
.width-95px {
    width: 98%;
}
.width-100px {
    width: 28%;
}
.width-95{
    width: 95%;
}
.Input-Title {
    font-size: 20px;
}
.Text-Editor {
    height: 460px;
    overflow-x: unset;
    overflow-y: auto;
}
.content>ul{
    list-style: inside;
}
.content>ol{
    list-style:decimal;
}
.alert-box {
    width: 400px;
    height: 180px;
    background: white;
    opacity: 1;
    margin: auto;
}
.bg-transparent-css {
    background-color:rgba(57, 57, 57, 0.247);
}

.box-shadow-note {
    box-shadow: rgba(14, 30, 37, 0.22) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.box-shadow-component {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.max-h-watch {
    max-height: 450px;
}

@media only screen and (max-width: 1320px) {
    .Text-Editor {
        height: 300px;
        max-height: 300px;
        overflow-y: auto;
    }
}
